<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>博客首页</title>
<link rel="shortcut icon" href="./images/logo.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/list.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="head_main">
		<a href="#" class="head_logo" title="博客logo">logo</a>
		<ul class="head_nav">
			<li><a href="#">首页</a></li>
			<li><a href="#">运营</a></li>
			<li><a href="#">瞎说</a></li>
			<li><a href="#">主题</a></li>
			<li><a href="#">关于</a></li>
		</ul>
		<div class="search">
			<input type="text" class="search_in" placeholder="Search" value=""/>
			<button class="search_btn">搜索</button>
		</div>
	</div>
	<!-- 头部 结束 -->
	<div class="container">
		<!-- 主体 -->
		<div class="con_left">
			<div class="select_list ">
				<div class="con_sel clearfix">
					<span class="sel_title">首页推荐:</span>
					<p>推荐优秀的技术文章供大家借鉴!</p>
				</div>  
				<section class="sel_img">
					<div class="sel_title_top">
						<h4 class="title_font"><a href="#">看千篇互联网创业文章，都不如自己经历一场</a><span class="recommend">推荐</span></h4>
						<address class="sel_dates">
							<time class="time">2017.7.3</time>-
							<a href="#" class="sel_link">后台</a>-
							<span class="sel_y">阅3,356</span>
						</address>
					</div>
					<span class="sel_mimg">
						<a href="#"><img src="img/bthrg-500x300.png" class="sel_img_font" /></a>
					</span>
					<div class="sel_p_ar">
						<p>支撑一个业务光产品或市场肯定不行，需要几条腿配合才能走起来，合伙人最起码要能占一条，且必须是能力和自己互补的，
							能规划、执行、落地到最后给出明确的结果，不能像小白一样，基本的东西还要耗费你的时间去教。</p>
					</div>
				</section>
				<section class="sel_img">
					<div class="sel_title_noimg">
						<h4 class="title_font"><a href="#">看千篇互联网创业文章，都不如自己经历一场</a></h4>
						<address class="sel_dates">
							<time class="time">2017.7.3</time>-
							<a href="#" class="sel_link">后台</a>-
							<span class="sel_y">阅3,356</span>
						</address>
					</div>
					<div class="sel_ar_noimg">
						<p>支撑一个业务光产品或市场肯定不行，需要几条腿配合才能走起来，合伙人最起码要能占一条，且必须是能力和自己互补的，
							能规划、执行、落地到最后给出明确的结果，不能像小白一样，基本的东西还要耗费你的时间去教。</p>
					</div>
				</section>
				<section class="sel_img">
					<div class="sel_title_top">
						<h4 class="title_font"><a href="#">看千篇互联网创业文章，都不如自己经历一场</a></h4>
						<address class="sel_dates">
							<time class="time">2017.7.3</time>-
							<a href="#" class="sel_link">后台</a>-
							<span class="sel_y">阅3,356</span>
						</address>
					</div>
					<span class="sel_mimg">
						<a href="#"><img  src="img/btggh-500x300.png" class="sel_img_font" /></a>
					</span>
					<div class="sel_p_ar">
						<p>支撑一个业务光产品或市场肯定不行，需要几条腿配合才能走起来，合伙人最起码要能占一条，且必须是能力和自己互补的，
							能规划、执行、落地到最后给出明确的结果，不能像小白一样，基本的东西还要耗费你的时间去教。</p>
					</div>
				</section>
				<section class="sel_img">
					<div class="sel_title_noimg">
						<h4 class="title_font"><a href="#">看千篇互联网创业文章，都不如自己经历一场</a></h4>
						<address class="sel_dates">
							<time class="time">2017.7.3</time>-
							<a href="#" class="sel_link">后台</a>-
							<span class="sel_y">阅3,356</span>
						</address>
					</div>
					<div class="sel_ar_noimg">
						<p>支撑一个业务光产品或市场肯定不行，需要几条腿配合才能走起来，合伙人最起码要能占一条，且必须是能力和自己互补的，
							能规划、执行、落地到最后给出明确的结果，不能像小白一样，基本的东西还要耗费你的时间去教。</p>
					</div>
				</section>
				<section class="sel_img">
					<div class="sel_title_noimg">
						<h4 class="title_font"><a href="#">看千篇互联网创业文章，都不如自己经历一场</a></h4>
						<address class="sel_dates">
							<time class="time">2017.7.3</time>-
							<a href="#" class="sel_link">后台</a>-
							<span class="sel_y">阅3,356</span>
						</address>
					</div>
					<div class="sel_ar_noimg">
						<p>支撑一个业务光产品或市场肯定不行，需要几条腿配合才能走起来，合伙人最起码要能占一条，且必须是能力和自己互补的，
							能规划、执行、落地到最后给出明确的结果，不能像小白一样，基本的东西还要耗费你的时间去教。</p>
					</div>
				</section>
				<div class="page">
					<span class="page_count page_one">1</span>
					<a href="#" class="page_count">2</a>
					<a href="#" class="page_count">3</a>
					<a href="#" class="page_count">4</a>
					<span class="page_count page_dote">...</span>
					<a href="#" class="page_count">10</a>
				</div>
			</div>
		</div>
		<div class="con_right">
			<h2 class="web_tag">网站标签</h2>
			<div class="web_tag_all clearfix">
				<a href="#" class="tag_link">前端</a>
				<a href="#" class="tag_link">后台语言</a>
				<a href="#" class="tag_link">php</a>
				<a href="#" class="tag_link">html5</a>
				<a href="#" class="tag_link">javascript</a>
			</div>
			<div class="clearfix"></div>
			<div class="hot_totle">
				<h4 class="hot_article">随机热文</h4>
				<ul>
					<li><a href="#">1.随机热文G+早期是如何提高用户留存率</a></li>
					<li><a href="#">2.随机热文G+早期是如何提高用户留存率</a></li>
					<li><a href="#">3.你的产品或服务能帮助用户（高效）解决问题吗？</a></li>
					<li><a href="#">4.随机热文G+早期是如何提高用户留存率</a></li>
					<li><a href="#">5.随机热文G+早期是如何提高用户留存率</a></li>
					<li><a href="#">6.随机热文G+早期是如何提高用户留存率</a></li>
				</ul>
			</div>
		</div>
		<!-- 主体 结束 -->
	</div>
	<!-- 页脚开始 -->
	<footer class="footer_main">
		<div class="footer_max">
			<div class="footer_img clearfix">
				<div class="wb_img">
					<a href="#" target="_blank"><img src="img/xinlan.png" alt="新浪微博" title="新浪微博"/></a>
				</div>
				<div class="qq_img">
					<a href="#" target="_blank"><img src="img/qqzone.png" alt="qq空间" title="qq空间"/></a>
				</div>
				<div class="weixin_img">
					<div class="wx_img_po">
						<a href="#" target="_blank"><img  src="img/weixin.png" alt="微信公众号" title="微信公众号" class="weixin_show"/></a>
						<a href="#" target="_blank"><img src="img/ishayou6.png"  alt="微信公众号" class="weixin_er"/></a>
					</div>
				</div>
			</div>
			<div class="footer_list clearfix">
				<ul>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">免责声明</a></li>
					<li><a href="#">意见反馈</a></li>
					<li><a href="#">网站标签</a></li>
					<li><a href="#">友情链接</a></li>
					<li><a href="#">个人微博2.0</a></li>
				</ul>
			</div>
			<div class="beian">
				 © 2016 
				 <a href="#">gerenweibo</a>
				 <a href="#">前端</a>
				  <a href="#">后台</a>
				 <a href="#"> 粤ICP备16074429号-1 </a>
			</div>
		</div>
	</footer>
</body>
	
</html>